body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #130505;
    color: #e81515;
}

#calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 800px;
}

#months {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.month {
    background-color: #ef4949;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    transition: transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(50px);
    cursor: pointer;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hidden {
    display: none;
}

#days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

.day {
    background-color: #ef4949;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}
